<div class="row pageHead">
    <p id="notice"><%= notice %></p>
    <div class="col d-flex justify-content-start">                
        <h1>Your Information</h1>
    </div>
    <button type="button" class="btn closebtn text-white">
        <i class="fa fa-times" aria-hidden="true"></i>
        <%= link_to '  CLOSE', users_path, class: 'text-white' %>
    </button>
</div>
<div class="col-12">
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col" class="text-center">FIRST NAME</th>
        <th scope="col" class="text-center">LAST NAME</th>
        <th scope="col" class="text-center">EMAIL</th>
        <th scope="col" class="text-center">PHONE</th>
        <th scope="col" colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <tr scope="row">
        <td class="text-center"><%= @user.first_name %></td>
        <td class="text-center"><%= @user.last_name %></td>
        <td class="text-center"><%= @user.email %></td>
        <td class="text-center"><%= @user.phone %></td>
        <td>
          <button type="button" class="btn btn-warning text-black">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              <%= link_to '  EDIT', edit_user_path(@user), class: 'text-black' %>
            </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>