    <div class="row pageHead">
        <h1><%= @event.event_name %></h1>
    </div>
    <div class="row eventTop">
        <div class="col-6 col-border">
            <div class="leftcolpos">
            <div class="row">
                <p id="notice"><%= notice %></p>
            </div>

            <div class="row">
                <p>
                    <strong>Time:</strong>
                    <%= @event.event_time.strftime('%b %e, %l:%M %p') %>
                </p>
            </div>
            <div class="row">
                <p>
                    <strong>Description:</strong>
                    <%= @event.event_desc %>
                </p>
            </div>

            <div class="row">
                <% if current_user.events.include?(@event) %>
                <% else %>
                    <%= form_with(model: @event, local: true) do |f| %>
                        <%= f.fields_for :eventmembers do |ff| %>
                            <%= ff.hidden_field :user_id, :value => current_user.id  %>
                            <%= ff.hidden_field :event_id, :value => :id  %>
                        <% end %>
                        <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
                            <i class="fa fa-calendar-check-o"></i> JOIN
                        <% end %>
                    <% end %>
                <% end%>
            </div>
            <br>
            <div class="row">
                <% if( @event.user_id == current_user.id) %>
                    <button type="button" class="btn btn-warning text-black btnRightMar">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        <%= link_to '  EDIT', edit_event_path(@event), class: 'text-black' %>
                    </button>
                <% end %>
                <button type="button" class="btn btn-danger text-white">
                    <i class="fa fa-times" aria-hidden="true"></i>
                    <%= link_to '  CLOSE', events_path, class: 'text-white' %>
                </button>
            </div>
            <br>
                <% if @chosen.empty?%>

                <% else %>
                    <% if @event.event_winner.nil? || @event.event_winner == 0 %>
                        <div class="row">
                            <%= form_with(model: @event, local: true) do |f| %>
                                <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
                                    <i class="fa fa-calendar-check-o"></i> Where You'll Be Eating
                                <% end %>
                            <% end %>
                        </div>
                    <% else %>
                        <div class="row">       
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                WINNING RESTAURANT
                            </button>
                        </div>
                    <% end %>
                <% end %> 
            </div>  
        </div>
    
        <% if current_user.events.include?(@event) %>
        <div class="col-6">
            <div class="rightcolpos">
                <% if @has_picked >= 1%>
                    <div class="row justify-content-center">
                        <h5>You've alreaded chosen a restaurant for this event</h5>
                    </div>
                <%else%>
            <div class="row justify-content-center">
                <h4>Add Your Restaurant to the event</h4>
            </div>
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                    <th scope="col"></th>
                    <th scope="col">NAME</th>
                    <th scope="col" colspan="1">SUBMIT</th>
                    </tr>
                </thead>
                
                <tbody>
                    <% @restaurants.each_with_index do |restaurant, index| %>
                        <tr scope="row">
                            <td><%= index+1 %></td>
                            <td><%= restaurant.restaurant_name %></td>
                                <%= form_with(model: [@event, @event.restmembers.build]) do |f| %>
                                    <%= f.hidden_field :user_id, :value => current_user.id  %>
                                    <%= f.hidden_field :restaurant_id, :value => restaurant.id  %>
                                    <%= f.hidden_field :event_id, :value => @event.id  %>
                                    <td>
                                            <%= button_tag(type: 'submit', class: "btn btn-success") do %>
                                                <i class="fa fa-plus-square"></i> ADD RESTAURANT
                                            <% end %>
                                    </td>
                                <% end %>
                        </tr>
                    <%end%>
                </tbody>
            </table>
            <% end %>
        </div>
        <% else %>
        <% end %>
        </div>
    </div>
    <hr>
    <div class="col-11 col-centered">
    <% if @chosen.empty?%>
        <h3>Add some restaurants to make this event fun.</h3>
    <% else %>
        <div class="row">
            <h3>List of restaurants for the event</h3>
        </div>
        <div class="row">
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                    <th scope="col"></th>
                    <th scope="col">NAME</th>
                    <th scope="col">LOCATION</th>
                    <th scope="col">DESCRIPTION</th>
                    </tr>
                </thead>
                
                <tbody>
                    <% @chosen.each_with_index do |restaurant, index| %>
                        <tr scope="row">
                            <td><%= index+1 %></td>
                            <td><%= restaurant.restaurant_name %></td>
                            <td><%= restaurant.restaurant_location %></td>
                            <td><%= restaurant.restaurant_desc %></td>
                        </tr>
                    <%end%>
                </tbody>
            </table>
        </div>
    </div>
<br>
    

    <!-- MODAL -->

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Winning Restaurant</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Location</th>
                                    <th scope="col">Description</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                <% @winner.each do |restaurant, index| %>
                                    <tr scope="row">
                                        <td><%= restaurant.restaurant_name %></td>
                                        <td><%= restaurant.restaurant_location %></td>
                                        <td><%= restaurant.restaurant_desc %></td>
                                    </tr>
                                <%end%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    <% end %>

