<h3>Add a restaurant</h3>
<table>
    <thead>
        <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Description</th>
        <th>Phone</th>
        <th>Price</th>
        <th colspan="3"></th>
        </tr>
    </thead>
    
    <tbody>
        <% @restaurants.each do |restaurant| %>
        <tr>
            <td><%= restaurant.restaurant_name %></td>
            <td><%= restaurant.restaurant_location %></td>
            <td><%= restaurant.restaurant_desc %></td>
            <td><%= restaurant.restaurant_phone %></td>
            <td><%= restaurant.restaurant_price %></td>
        </tr>
        <% end %>
    </tbody>
</table>