<div class="row pageHead">
<p id="notice"><%= notice %></p>
<h1>Restaurants</h1>
</div>
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col" class="text-center">NAME</th>
      <th scope="col" class="text-center">LOCATION</th>
      <th scope="col" class="text-center">DESCRIPTION</th>
      <th scope="col" class="text-center">PHONE</th>
      <th scope="col" class="text-center">PRICE</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr scope="row">
        <td class="text-center"><%= restaurant.restaurant_name %></td>
        <td class="text-center"><%= restaurant.restaurant_location %></td>
        <td class="text-center"><%= restaurant.restaurant_desc %></td>
        <td class="text-center"><%= restaurant.restaurant_phone %></td>
        <td class="text-center"><%= restaurant.restaurant_price %></td>
        <td>
          <button type="button" class="btn btn-success text-white">
            <i class="fa fa-window-maximize" aria-hidden="true"></i>
            <%= link_to '  SHOW', restaurant, class: 'text-white' %>
          </button>
          <button type="button" class="btn btn-warning text-black">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            <%= link_to '  EDIT', edit_restaurant_path(restaurant), class: 'text-black' %>
          </button>
          <button type="button" class="btn btn-danger text-white">
            <i class="fa fa-times" aria-hidden="true"></i>
            <%= link_to '  DELETE', restaurant, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-white' %>
          </button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>