<p id="notice"><%= notice %></p>

<h1>Eventmembers</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Restaurant</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eventmembers.each do |eventmember| %>
      <tr>
        <td><%= eventmember.user_id %></td>
        <td><%= eventmember.restaurant_id %></td>
        <td><%= link_to 'Show', eventmember %></td>
        <td><%= link_to 'Edit', edit_eventmember_path(eventmember) %></td>
        <td><%= link_to 'Destroy', eventmember, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Eventmember', new_eventmember_path %>
