<!DOCTYPE html>
<html ang="en">
  <head>
    <title>EatWhere</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar">
        <% if current_user %>
        <div class="d-flex justify-content-start">
          <h1 class="navLogo">EAT WHERE</h1>
        </div>
        <div class="d-flex justify-content-start">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle navdrops" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                RESTAURANTS
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button"><%= link_to "YOUR RESTAURANTS", restaurants_path %></button>
                <button class="dropdown-item" type="button"><%= link_to "ADD NEW RESTAURANT", new_restaurant_path %></button>
              </div>
            </div>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle navdrops" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                EVENTS
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button"><%= link_to "ALL EVENTS", events_path %></button>                  
                <button class="dropdown-item" type="button"><%= link_to "YOUR EVENTS", events_path(current_user.id) %></button>
                <button class="dropdown-item" type="button"><%= link_to "ADD AN EVENT", new_event_path %></button>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle login" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                HELLO <%= current_user.first_name.upcase %>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <%= button_tag(type: 'button', class: "dropdown-item") do %>
                  <%= link_to "MY PROFILE", user_path(current_user.id) %>
                <% end %>
                <%= button_tag(type: 'button', class: "dropdown-item") do %>
                  <%= link_to "EDIT PROFILE", edit_user_path(current_user.id) %>
                <% end %>
                <%= button_tag(type: 'button', class: "dropdown-item") do %>
                  <%= link_to "LOG OUT", user_sessions_destroy_path %>
                <% end %>
              </div>
            </div>
          </div>
        <% else %>
          <div class="d-flex justify-content-start">
            <h1 class="navLogo">Eat Where</h1>
          </div>
          <div class="d-flex justify-content-end">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle login" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Login/Register
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button"><%= render 'user_sessions/form' %></button>
                <button class="dropdown-item" type="button"><%= link_to "Register", new_user_path %></button>
              </div>
            </div>
          </div>
        <% end %>
      </nav>
    </header>
      <div class="mainContainer">
        <p id="notice"><%= flash[:notice] %></p>
        <p id="alert"><%= flash[:alert] %></p>
      </div>
    <%= yield %>
    <footer class="footer">

    </footer>
  </body>
</html>
